body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Overpass', sans-serif;
  font-weight: 100; }

a {
  color: #333; }
  a:hover {
    text-decoration: none;
    color: #ed6d16; }

#search-row {
  height: 100vh; }

span.term-before {
  color: #aaaaaa;
  margin-left: 10px; }

.term, .term-add {
  display: inline-block;
  padding: 10px 25px;
  background: #dfdfdf;
  border-radius: 25px;
  cursor: pointer; }
  .term:hover, .term-add:hover {
    background: #cccccc; }

.term-add-close-button {
  padding: 2px 13px;
  vertical-align: sub;
  background: #dfdfdf;
  border-radius: 25px;
  cursor: pointer; }
  .term-add-close-button:hover {
    background: #aaaaaa;
    color: #ffffff; }

.orange-form input {
  display: inline-block;
  width: 100%;
  border: 1px solid #dfdfdf;
  outline: none;
  padding: 10px 15px;
  border-radius: 25px; }
  .orange-form input:hover {
    border: 1px solid #cccccc; }
  .orange-form input[type="submit"] {
    width: auto;
    margin: 15px 0;
    border: 0;
    background: #EF7C2E;
    color: #ffffff;
    border-radius: 25px; }
    .orange-form input[type="submit"]:hover {
      background: #ed6d16;
      cursor: pointer; }
  .orange-form input[type="reset"] {
    background: #dfdfdf;
    width: auto;
    margin: 15px 0;
    border: 0;
    border-radius: 25px; }
    .orange-form input[type="reset"]:hover {
      background: #cccccc;
      cursor: pointer; }

form.term-add-form {
  display: inline-block; }
  form.term-add-form input[type="text"] {
    width: 250px;
    display: none;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    outline: none;
    padding: 10px 25px; }
    form.term-add-form input[type="text"]:hover {
      border: 1px solid #cccccc; }

i#add-hide {
  width: 44px;
  height: 44px;
  background: #ccc;
  padding: 13px 14px;
  display: inline-block;
  border-radius: 25px; }

/*# sourceMappingURL=styles.css.map */
