$light_gray : #dfdfdf;
$gray : #cccccc;
$dark_gray : #aaaaaa;
$orange: #EF7C2E;
$dark_orange:#ed6d16;
$light_orange: #f3a65d;


body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
}

a{
    color: #333;
    &:hover{
        text-decoration: none;
        color: $dark_orange;
    }
}

#search-row{
    height: 100vh;
}

span.term-before{
    color: $dark_gray;
    margin-left: 10px;
}

.term, .term-add{
    display: inline-block;
    padding: 10px 25px;
    background: $light_gray;
    border-radius: 25px;
    cursor: pointer;
    &:hover{
        background: $gray;
    }
}
.term-add-close-button{
    padding: 2px 13px;
    vertical-align: sub;
    background: $light_gray;
    border-radius: 25px;
    cursor: pointer;
    &:hover{
        background: $dark_gray;
        color: #ffffff;
    }
}

.orange-form{
    input{
        display: inline-block;
        width: 100%;
        border: 1px solid $light_gray;
        outline: none;
        padding: 10px 15px;
        border-radius: 25px;
        &:hover{
            border:1px solid $gray;
        }
        &[type="submit"]{
            width: auto;
            margin: 15px 0;
            border: 0;
            background: $orange;
            color:#ffffff;
            border-radius: 25px;
            &:hover{
                background: $dark_orange;
                cursor: pointer;
            }
        }
        &[type="reset"]{
            background: $light_gray;
            width: auto;
            margin: 15px 0;
            border: 0;
            border-radius: 25px;
            &:hover{
                background: $gray;
                cursor: pointer;
            }
        }
    }
}
form.term-add-form{
    display: inline-block;
    input[type="text"]{
        width: 250px;
        display: none;
        border: 1px solid $light_gray;
        border-radius: 25px;
        outline: none;
        padding: 10px 25px;
        &:hover{
            border:1px solid $gray;
        }
    }
}
i#add-hide{
    width: 44px;
    height: 44px;
    background: #ccc;
    padding: 13px 14px;
    display: inline-block;
    border-radius: 25px;
    &::before{

    }
}